@font-face {
	font-family: "Tinkoff";
	src: url("../font/tinkoff.woff2");
}

::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
}

@keyframes content-popup {
	from { opacity: 0; transform: translate( 0, 2rem ); }
	to { opacity: 1; transform: translate( 0, 0 ); }
}

html {
    font-size: 16px;
    font-family: "Tinkoff";
    color: #333;
}

html * {
    outline: none;
}

body {
    height: 100%;
    margin: 0;
    background: linear-gradient(-45deg, rgba(255,230,102,1) 0%, rgba(255,220,45,1) 25%, rgba(255,232,117,1) 50%, rgba(255,205,51,1) 100%) fixed;
}

.icons {
    /* display: inline-block; */
    padding: 1rem;
    position: fixed;
    z-index: 10000;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    opacity: 0.75;
    pointer-events: none;
}

.icons.--left {
    background: url("../img/icons1.png") no-repeat left / auto 100%;
}
.icons.--right {
    background: url("../img/icons2.png") no-repeat right / auto 100%;
}

.header__banner {
    pointer-events: none;
    user-select: none;
    text-align: center;
    padding: 4rem 0 8rem;
    margin-bottom: -5rem;
}

.header__banner--logo {
    display: inline-block;
    background: url("../img/tinkoff.svg") no-repeat center center / 100%;
    padding: 6rem;
}

.header__banner--title {
    color: #333;
    font-size: 4.5rem;
    font-weight: bold;
    margin: 1.5rem 0 0.25rem;
    /* text-transform: uppercase; */
}

.header__banner--tagline {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    /* text-transform: uppercase; */
}

.header {
    /* background: #fff; */
    background: rgba(255,221,45,0);
    padding: 0.5rem 0 0;
    position: absolute;
    left: 1rem;
    right: 1rem;
    /* transition: .3s; */
}

.header._fixed {
    background: linear-gradient(90deg, #ffce36 0%, #ffdf60 50%, #ffe045 100%);
    position: fixed;
    top: 0;
    z-index: 9999;
}

.header._fixed::before {
    position: absolute;
    content: "";
    height: 3rem;
    width: 3rem;
    left: 0;
    bottom: -3rem;
    box-shadow: 0px 0px 0px 20px #ffcf38;
    border-radius: 1.5rem;
    clip: rect(0, 1.5rem, 1.5rem, 0);
    z-index: 9999;
}

.header._fixed::after {
    position: absolute;
    content: "";
    height: 3rem;
    width: 3rem;
    right: 0;
    bottom: -3rem;
    box-shadow: 0px 0px 0px 20px #ffdf3e;
    border-radius: 1.5rem;
    clip: rect(0, 3rem, 1.5rem, 1.5rem);
    z-index: 9999;
}

.header._fixed .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#fff 5%, #fffe 25%, #fff4 75%, #fff0 100% );
    top: 100%;
    left: 0;
    right: 0;
}

.header ul {
    font-size: 0;
    padding: 0;
    text-align: center;
}

.header ul > li {
    font-size: 1rem;
    text-transform: uppercase;
    list-style: none;
    display: inline-block;
}

.header ul > li.header__item {
    transition: 0.1s ease-out;
    color: #333;
    position: relative;
}

.header ul > li.header__item .header__item--tab {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 1.25rem;
    background: #fff;
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.2s ease-out;
    z-index: 0;
    pointer-events: none;
    opacity: 0;
}

.header ul > li.header__item .header__item--tab::before {
    position: absolute;
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    left: -1.5rem;
    bottom: 1.25rem;
    box-shadow: 0px 0px 0px 20px #fff;
    border-radius: 1.5rem;
    clip: rect(0.75rem, 1.5rem, 1.5rem, 0.75rem);
    transition: 0.2s ease-out;
}

.header ul > li.header__item .header__item--tab::after {
    position: absolute;
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    right: -1.5rem;
    bottom: 1.25rem;
    box-shadow: 0px 0px 0px 20px #fff;
    border-radius: 1.5rem;
    clip: rect(0.75rem, 0.75rem, 1.5rem, 0);
    transition: 0.2s ease-out;
}

.header ul > li.header__item:hover .header__item--tab {
    top: 0;
    opacity: 0.75;
}
.header ul > li.header__item:hover .header__item--tab::before {
    bottom: 0;
    transition: 0.2s ease-out;
}
.header ul > li.header__item:hover .header__item--tab::after {
    bottom: 0;
    transition: 0.2s ease-out;
}

.header ul > li.header__item.active .header__item--tab {
    top: 0;
    opacity: 1;
}
.header ul > li.header__item.active .header__item--tab::before {
    bottom: 0;
}
.header ul > li.header__item.active .header__item--tab::after {
    bottom: 0;
}

.header ul > li.header__item.active span {
    opacity: 1;
    color: #000;
    font-weight: bold;
}

.header ul > li.header__item:hover span {
    opacity: 1;
}

.header ul > li.header__item span {
    display: block;
    padding: 1.25rem 1.5rem 0.75rem;
    text-decoration: none;
    color: inherit;
    color: #333;
    opacity: 0.75;
    position: relative;
    z-index: 1;
    cursor: pointer;
    user-select: none;
}

.content {
    margin: 3.5rem 1rem 1rem;
    border-radius: 1.5rem;
    overflow: hidden;
    min-height: 100vh;
    /* background-image: url("../img/tinkoff-2.svg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat; */
    background-color: #fff;
}

.popup__animation {
    animation: content-popup .5s 1 forwards ease;
}

.paginator {
    margin: 0 2rem;
}
.paginator__title {
    font-size: 3rem;
    border-bottom: 1px solid #eee;
    margin: 0 2rem;
    padding: 2rem 0 1rem;
}
.paginator__wrapper {
    padding: 1.3rem 1rem 0.5rem;
    /* text-align: center; */
}
.paginator__item {
    padding: 0.6rem 1rem 0.4rem;
    background: #f8f8f8;
    color: #0070c9;
    border-radius: 1rem;
    margin: 0 0.25rem 0.5rem 0;
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
}

.paginator__item:hover {
    background: #f1f1f1;
    color: #0070c9;
}

.section {
    background: linear-gradient( rgba(255,255,255,0) 0%, rgba(252,252,252,1) 100%);
}

.section:last-child .section--container {
    padding-bottom: 4rem;
}
.section--container {
    margin: 4rem 0 0;
}

.step--wrapper {
    max-width: 55rem;
    margin: 0 auto;
    font-size: 0;
}

.image--wrapper, .description--wrapper {
    display: inline-block;
    max-width: 49%;
    vertical-align: top;
}

.image--wrapper {
    position: relative;
    pointer-events: none;
    user-select: none;
}

.image--wrapper .device {
    z-index: 1;
    position: relative;
}

.image--wrapper .screenshot {
    position: absolute;
    top: 41px;
    left: 51px;
    z-index: 0;
    width: 280px;
}

.description--wrapper {
    margin: 4rem 0;
    padding: 0 2rem 0 0;
    box-sizing: border-box;
}

.popup__animation div:nth-child(even) .description--wrapper {
    float: left;
    text-align: right;
}

.description--wrapper h2 {
    font-size: 1.3rem;
    margin: 0;
}

.description--wrapper h3 {
    letter-spacing: -.005em;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.05;
    margin: 1.2rem 0;
}

.description--wrapper p {
    font-size: 1.1rem;
    line-height: 1.3;
    margin: 0;
}
