@font-face {
	font-family: Bliss Pro;
	src: url('../fonts/BlissPro-Regular.otf');
}

@font-face {
    font-family: 'MeteoconsRegular';
    src: url('../fonts/meteocons/meteocons-webfont.eot');
    src: url('../fonts/meteocons/meteocons-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/meteocons/meteocons-webfont.woff') format('woff'),
         url('../fonts/meteocons/meteocons-webfont.ttf') format('truetype'),
         url('../fonts/meteocons/meteocons-webfont.svg#MeteoconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Clean icons';
	src: url('../fonts/artill clean weather icons/artill_clean_icons.otf');
}

html {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
  background: #000;
  font-size: 16px;
}

a {
	color: #fff;
}

a:active {
	opacity: 0.25;
}

#loading-screen {
	position: absolute;
	z-index: 9000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url('../startupimages/640x1096.png') left top no-repeat;
	background-size: cover;
	pointer-events: none;
}

.scrollfix-content {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}

#main-screen {
	position: fixed;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	width: 100%;
	height: 100%;
	z-index: 0;
	top: 0;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(.1, 1, .5, 1) 0s;
	border-radius: 5px;
	overflow: hidden;
}

#main-screen-content {
	/*background-image: url('');
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center -20px;*/
}

#settings-screen,
#search-screen,
#favorite-screen {
	position: fixed;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	width: 100%;
	height: 100%;
	z-index: 1000;
	top: 100%;
	background-color: #734456;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(.1, 1, .5, 1) 0s;
	border-radius: 10px 10px 0 0;
}

.status-bar {
	z-index: 9001;
	width: 100%;
	height: 24px;
	background-color: #73414a;
	top: 0;
}

.nav-bar {
	background: rgb(115, 65, 74);
	z-index: 9000;
	display: flex;
	flex-direction: row;
}

.nav-bar > .nav-button {
	flex-grow: 1;
	text-align: center;
	padding: 13px 10px 16px 10px;
	background: none;
	border: none;
	font-size: 1em;
	font-family: 'Bliss Pro';
	color: #fff;
}

.nav-bar > .nav-button img {
	height: 25px;
	pointer-events: none;
}

.nav-bar > .nav-button.touch {
	opacity: 0.25;
}

.screen-rounder-top-left,
.screen-rounder-top-right,
.screen-rounder-bottom-right,
.screen-rounder-bottom-left {
	position: fixed;
	z-index: 9999;
	width: 20px;
	height: 20px;
	overflow: hidden;
}

.screen-rounder-top-left {
	top: 0;
	left: 0;
	clip: rect(0, 10px, 10px, 0);
}

.screen-rounder-top-right {
	top: 0;
	right: 0;
	clip: rect(0, 20px, 10px, 10px);
}

.screen-rounder-bottom-right {
	bottom: 0;
	right: 0;
	clip: rect(10px, 20px, 20px, 10px);
}

.screen-rounder-bottom-left {
	bottom: 0;
	left: 0;
	clip: rect(10px, 10px, 20px, 0px);
}

.screen-rounder-top-left::after,
.screen-rounder-top-right::after,
.screen-rounder-bottom-right::after,
.screen-rounder-bottom-left::after {
	top: 0;
	left: 0;
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	border-radius: 5px;
	box-shadow: 0px 0px 0px 10px #000;
}

#settings-screen .head,
#search-screen .head,
#favorite-screen .head {
	font-weight: bold;
	position: relative;
	z-index: 100;
	width: 100%;
	padding-top: 3 0px;
	padding: 24px 0 14px;
	background-color: #73414a;
	/*background-color: #F7F7F8;*/
	/*color: #000;*/
	color: #fff;
	top: 0;
	border-radius: 10px 10px 0 0;
}

.head > .title {
	opacity: 0.75;
	font-size: 1.2em;
	text-transform: uppercase;
}

.head .button-left {
	font-size: 1.1em;
	position: absolute;
	left: 0;
	top: 0;
	padding: 24px 14px 0.8em;
	line-height: 1.5rem;
}

.head .button-right {
	font-size: 1.1em;
	position: absolute;
	right: 0;
	top: 0;
	padding: 24px 14px 0.8em;
	line-height: 1.6rem;
}

.button-left.touch,
.button-right.touch {
	opacity: 0.25;
}

#settings-screen-content,
#search-screen-content,
#favorite-screen-content,
#main-screen-content {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	color: #fff;
	top: 0;
}

h2 {
	font-size: 2em;
	font-weight: normal;
	margin: 0;
}

.ios-ul {
	background: #a15f6d;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	border: none;
	border-radius: 10px;
	margin-bottom: 2em;
}

.ios-ul-title {
	padding: 0 0.8em;
	margin: 2em 0 0.3em;
	text-transform: uppercase;
	opacity: 0.5;
}

.ios-li {
	font-size: 1.1em;
	margin-left: 0.8em;
	padding: 0;
}

.ios-li + .ios-li {
	border-top: 0.5px solid rgba(0, 0, 0, 0.25);
}

.ios-li:first-child > div {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.ios-li:last-child > div {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.ios-li > div {
	margin-left: -0.8em;
	padding: 0.8em 0.8em;
}

.ios-li > div.touch {
	background-color: rgba(0, 0, 0, 0.1);
}

.ios-li.glyphIcon {
	margin-left: 3em;
}

.ios-li.glyphIcon > div {
	margin-left: -3em;
	padding: 0.8em 0.8em 0.8em 3em;
    background-size: 1.7rem;
    background-position: 0.8rem center;
    background-repeat: no-repeat;
}

.ios-li.glyphIcon.gmail > div { background-image: url(../img/gmail.svg); }
.ios-li.glyphIcon.star > div { background-image: url(../img/star.svg); }
.ios-li.glyphIcon.site > div { background-image: url(../img/stavrapid-logo.svg); }
.ios-li.glyphIcon.vk > div { background-image: url(../img/vk.svg); }
.ios-li.glyphIcon.twitter > div { background-image: url(../img/twitter.svg); }
.ios-li.glyphIcon.facebook > div { background-image: url(../img/facebook.svg); }
.ios-li.glyphIcon.instagram > div { background-image: url(../img/instagram.svg); }
.ios-li.glyphIcon.youtube > div { background-image: url(../img/youtube.svg); }
.ios-li.glyphIcon.soundcloud > div { background-image: url(../img/soundcloud.svg); }
.ios-li.glyphIcon.telegram > div { background-image: url(../img/telegram.svg); }

.blank {
	background: none;
	border: none;
	text-align: center;
	padding: 0 2em;
	margin: 2em 0;
}

.blank .logo {
	display: inline-block;
	margin: 0.8em;
    width: 4.2rem;
    height: 4.2rem;
    background-image: url('../logo-white.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.hint {
	font-size: 0.85em;
	padding: 0.8em 1em;
	margin: -2.4em 0 2.4em;
	opacity: 0.5;
}

/*IOS 7 SWITCH BEGIN*/

@-webkit-keyframes switch-check {
	from {box-shadow: inset 0 0 0 0.0625em /*#e9e9e9;*/ #734456;}
	to {box-shadow: inset 0 0 0 0.73em /*#e9e9e9;*/ #734456}
}

@-webkit-keyframes switch-uncheck {
	from {box-shadow: inset 0 0 0 0.73em /*#e9e9e9;*/ #734456}
	to {box-shadow: inset 0 0 0 0.0625em /*#e9e9e9;*/ #734456}
}

@-moz-keyframes switch-check {
	from {box-shadow: inset 0 0 0 0.0625em #e9e9e9;}
	to {box-shadow: inset 0 0 0 0.73em #4cd964;}
}

@-moz-keyframes switch-uncheck {
	from {box-shadow: inset 0 0 0 0.73em #4cd964;}
	to {box-shadow: inset 0 0 0 0.0625em #e9e9e9;}
}

.ios7-switch {
	float: right;
	margin-top: -5px;
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.disabled {
	opacity: 0.5;
	pointer-events: none;
}

.ios7-switch input {
    display: none;
}

.ios7-switch input + span {
    position: relative;
    display: inline-block;
    width: 1.65em;
    height: 1em;
	background: #a15f6d;
    border-radius: 0.5em;
    vertical-align: -0.15em;
	font-size: 32px;
}

.ios7-switch input + span:after {
    position: absolute;
    display: block;
    content: '';
    width: 0.875em;
    height: 0.875em;
    border-radius: 0.4375em;
    top: 0.0625em;
	-webkit-transform: translate3d(0.0625em, 0, 0);
	-moz-transform: translate3d(0.0625em, 0, 0);
    background: #fff;
    box-shadow: inset 0 0 0 0.03em rgba(0,0,0,0.1),
                0 0 0.05em rgba(0,0,0,0.05),
                0 0.1em 0.2em rgba(0,0,0,0.2);
    transition: all 0.25s ease-out;
}

.ios7-switch input:checked + span {
	-webkit-animation: switch-check 0.25s 1 forwards ease-out;
	-moz-animation: switch-check 0.25s 1 forwards ease-out;
}

.ios7-switch input:not(:checked) + span {
	-webkit-animation: switch-uncheck 0.25s 1 forwards ease-out;
	-moz-animation: switch-uncheck 0.25s 1 forwards ease-out;
}

.ios7-switch input:checked + span:after {
	-webkit-transform: translate3d(0.7125em, 0, 0);
	-moz-transform: translate3d(0.7125em, 0, 0);
}

/*IOS 7 SWITCH END*/

p {
	margin-bottom: 20px;
}

body {
	font-family: Bliss Pro;
	/*font-family: Helvetica;*/
	color: #fff;
	margin: 0;
	-webkit-user-select: none;
	-webkit-user-drag: none;
}

#bg-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #512f35;
	opacity: 0.4;
}

#today-tab {
	font-size: 1em;
	text-align: right;
	padding: 1rem 1rem 1.4rem 1rem;
	background-image: url('');
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
	border-radius: 10px 10px 0 0;
	margin-bottom: -10px;
	box-shadow: inset 0 0 250px 0 rgba(0,0,0,0.5);
	transition: -webkit-transform 0.01s;
	text-shadow: 0 0 50px rgba(0,0,0,1);
}

#today-tab .today-location {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 10px;
}

#today-tab .today-day,
#today-tab .today-date {
	font-size: 1.4rem;
}

.today-temperature {
	font-size: 2em;
}

.today-icon {
	/*font-family: meteoconsRegular;*/
	font-family: Clean icons;
	margin-top: -0.4em;
	font-size: 3em;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#tabs {
	font-size: 2em;
	/*box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.3);*/
	border-radius: 10px 10px 0 0;
	position: relative;
	margin-bottom: 1rem;
	border-radius: 10px;
}

#tabs li {
	padding: 1rem 1rem 1rem 0.6rem;
}

#tabs li:first-of-type {
	border-radius: 10px 10px 0 0;
}

#tabs li:not(:last-child) {
	padding-bottom: 2rem;
	margin-bottom: -1rem;
}

#tabs li:last-child {
	border-radius: 10px;
}

.tab[num = "1"] { background-color: #c57180; }
.tab[num = "2"] { background-color: #B16673; }
.tab[num = "3"] { background-color: #9E5A66; }
.tab[num = "4"] { background-color: #8A4F5A; }
.tab[num = "5"] { background-color: #76444D; }
.tab[num = "6"] { background-color: #623840; }
.tab[num = "7"] { background-color: #512f35; }

.tab-heading {
	display: inline-block;
	font-size: 0.55em;
	vertical-align: middle;
}

.tab + .tab {
	border-radius: 10px 10px 0 0;
}

sup {
	top: 0.1em;
	font-size: 0.7em;
	position: relative;
}

.tab-icon {
	/*font-family: meteoconsRegular;*/
	font-family: Clean icons;
	margin-top: -0.4em;
	margin-right: 0.3rem;
	line-height: 0;
	font-size: 3rem;
	display: inline-block;
	vertical-align: middle;
	width: 0.8em;
	text-align: center;
}

.tab-temperature {
	display: inline-block;
	vertical-align: middle;
	float: right;
}

#main-screen-content {
	background-position: center 0;
}

.head .search-field-container {
	position: relative;
	margin: 0.8rem 0.8rem 0;
}

.head .search-field-container .reset-button {
	display: none;
	position: absolute;
    padding: 0.6rem;
    top: 0;
    right: 0;
    box-sizing: border-box;
}

.head .search-field-container .reset-button img {
	width: 0.9rem;
    height: 0.9rem;
    pointer-events: none;
}

.head .search-field-container:before {
	position: absolute;
    content: '';
    background: url(../img/ios-search.svg) no-repeat;
    background-size: 100%;
    width: 1.2rem;
    height: 1.2rem;
    margin: 0.6rem 0.5rem;
    top: 0;
    left: 0;
}

.head input.search-field {
    display: block;
    border: none;
    background-color: #f4f4f4;
    border-radius: 10px;
    font-size: 1.1rem;
    padding: 0.5rem 2rem;
    width: 100%;
    box-sizing: border-box;
    /*font-family: 'Bliss Pro';*/
    /*line-height: 1.3rem;*/
}

/*	White theme style
-------------------------------------------------------------------
*/
body.white #settings-screen,
body.white #search-screen,
body.white #favorite-screen {
	background-color: #fff;
}

body.white #settings-screen-content,
body.white #main-screen-content,
body.white #search-screen-content,
body.white #favorite-screen-content {
	color: #000;
}

body.white #settings-screen-content a {
	color: #0095f5;
}

body.white #main-screen-content #today-tab {
	color: #fff;
}

body.white .blank img {
	filter: invert(1);
}

body.white .ios-ul {
	background-color: #fff;
	box-shadow: 0px 5px 50px 0px rgba(177,177,177,0.25);
}

body.white .ios-li + .ios-li {
    border-top: 0.5px solid #eaeaea;
}

body.white #settings-screen .head,
body.white #search-screen .head,
body.white #favorite-screen .head {
	/*background-color: #0095f5;*/
	background-color: #fff;
	box-shadow: 0px 5px 50px 0px rgba(177,177,177,0.25);
}

body.white .head .title {
	color: #000;
}

body.white .head .button-right,
body.white .head .button-left {
	color: #0095f5;
}

body.white .status-bar {
	background-color: #0095f5;
}

body.white .nav-bar {
	background-color: #fff;
	box-shadow: 0px -5px 50px 0px rgba(177,177,177,0.25);
}

body.white .nav-bar img {
	filter: invert(1);
}

body.white .tab {
	box-shadow: 0px -5px 50px 0px rgba(177,177,177,0.25);
}

body.white .ios-li.glyphIcon.reload > div { background-image: url(../img/reload-black.svg); }

body.white .ios-li.glyphIcon.gmail > div { background-image: url(../img/gmail-black.svg); }
body.white .ios-li.glyphIcon.star > div { background-image: url(../img/star-black.svg); }
body.white .ios-li.glyphIcon.site > div { background-image: url(../img/stavrapid-logo-black.svg); }
body.white .ios-li.glyphIcon.vk > div { background-image: url(../img/vk-black.svg); }
body.white .ios-li.glyphIcon.twitter > div { background-image: url(../img/twitter-black.svg); }
body.white .ios-li.glyphIcon.facebook > div { background-image: url(../img/facebook-black.svg); }
body.white .ios-li.glyphIcon.instagram > div { background-image: url(../img/instagram-black.svg); }
body.white .ios-li.glyphIcon.youtube > div { background-image: url(../img/youtube-black.svg); }
body.white .ios-li.glyphIcon.soundcloud > div { background-image: url(../img/soundcloud-black.svg); }
body.white .ios-li.glyphIcon.telegram > div { background-image: url(../img/telegram-black.svg); }

body.white .tab[num = "1"] { background-color: #ffffff; }
body.white .tab[num = "2"] { background-color: #ffffff; }
body.white .tab[num = "3"] { background-color: #ffffff; }
body.white .tab[num = "4"] { background-color: #ffffff; }
body.white .tab[num = "5"] { background-color: #ffffff; }
body.white .tab[num = "6"] { background-color: #ffffff; }
body.white .tab[num = "7"] { background-color: #ffffff; }

body.white #bg-overlay {
	background: #fff;
	opacity: 0;
}

body.white .blank .logo {
	background-image: url('../logo-colored.png');
}

@-webkit-keyframes switch-check-white {
	from {box-shadow: inset 0 0 0 0.0625em /*#e9e9e9;*/ #0095f5;}
	to {box-shadow: inset 0 0 0 0.73em /*#e9e9e9;*/ #0095f5}
}

@-webkit-keyframes switch-uncheck-white {
	from {box-shadow: inset 0 0 0 0.73em /*#e9e9e9;*/ #0095f5}
	to {box-shadow: inset 0 0 0 0.0625em /*#e9e9e9;*/ #0095f5}
}

@-moz-keyframes switch-check-white {
	from {box-shadow: inset 0 0 0 0.0625em /*#e9e9e9;*/ #0095f5;}
	to {box-shadow: inset 0 0 0 0.73em /*#e9e9e9;*/ #0095f5}
}

@-moz-keyframes switch-uncheck-white {
	from {box-shadow: inset 0 0 0 0.73em /*#e9e9e9;*/ #0095f5}
	to {box-shadow: inset 0 0 0 0.0625em /*#e9e9e9;*/ #0095f5}
}

body.white .ios7-switch input + span {
	background-color: #f8f8f8;
}

body.white .ios7-switch input:checked + span {
	-webkit-animation: switch-check-white 0.25s 1 forwards ease-out;
	-moz-animation: switch-check-white 0.25s 1 forwards ease-out;
}

body.white .ios7-switch input:not(:checked) + span {
	-webkit-animation: switch-uncheck-white 0.25s 1 forwards ease-out;
	-moz-animation: switch-uncheck-white 0.25s 1 forwards ease-out;
}