/*
=============================================================================================================================
------------------------------------------------------ MAIN STYLESHEET ------------------------------------------------------
=============================================================================================================================
*/
@font-face {
	font-family: Bliss Pro;
	src: url('../fonts/BlissPro-Regular.otf');
}

html {
	-webkit-text-size-adjust: none;
	text-size-adjust: none
}

::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
}

/* MEDIA QUERIES
---------------------------------------------------------------------------------------------------------------------------*/
body {
	background-color: #fff;
	font-family: Bliss Pro;
	margin: 0;
	overflow-x: hidden;
}

.logo-fixed {
	position: fixed;
	background-image: url("../img/logo.svg");
	background-repeat: no-repeat;
	background-size: auto 100%;
	top: 0;
	left: 0;
	padding: 1.2rem;
	vertical-align: top;
	margin: 1.2rem;
	-o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer;
}

.button-fixed {
	position: fixed;
	z-index: 9000;
	background-image: url("../img/sun.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	top: 0;
	right: 0;
	padding: 1.2rem;
	vertical-align: top;
	margin: 1.2rem;
	-o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer;
}

.button-fixed:hover {
	opacity: 0.5;
}

.page-main-card {
	position: fixed;
	z-index: -1;
	top: 0;
	right: 0;
	left: 0;
	height: 40rem;
	/*background-color: #0095f5;*/
	background-image: url("../img/background-clip.svg"),  linear-gradient(60deg, rgba(0,124,216,1)  20%, rgba(51,163,255,1) 50%, rgba(174,120,255,1) 100%);
	background-repeat: no-repeat;
	background-size: 110%;
	background-position: bottom;
	/*border-radius: 30px;
	margin: 1rem 1rem 1rem 20rem;
	box-shadow: rgba(177, 177, 177, 0.25) 0px 5px 50px 0px;*/
}

.page-main-card .clip-wrap {
	position: relative;
}

.page-main-card img {
	position: absolute;
	width: 100%;
	bottom: 0;
}

.page-main-card::before {
	position: absolute;
	width: 100%;
	height: 100%;
	content: "";
	background: url("../img/jupiter.svg"), url("../img/texture.svg");
	opacity: 0.05;
}

.grid {
	max-width: 63rem;
	margin: 2rem auto 0 auto;
}

.logo {
	float: right;
	vertical-align: top;
	position: relative;
	text-align: center;
	font-size: 4rem;
	color: #fff;
}

.logo img {
	width: 15rem;
	margin: 1rem;
}

/*.logo::after {
	position: absolute;
	z-index: -1;
	content: "";
	background: radial-gradient(ellipse at center, rgba(189,120,247,0.35) 0%, rgba(0,0,0,0) 70%);
	height: 45rem;
	width: 45rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}*/

.call-to-action {
	display: inline-block;
	vertical-align: top;
	color: #fff;
	width: 50%;
	margin: 6.5rem 0 0 4rem;
}

.app-icon {
	height: 10rem;
    border-radius: 40px;
    float: left;
    margin: 1.5rem 2.4rem 0 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 50px 0px;
}

.call-to-action h1 {
	font-size: 4.1rem;
    margin: 1.8rem 0 2.5rem;
    text-shadow: rgba(0, 0, 0, 0.05) 0px 5px 25px;
    line-height: 4.6rem;
}

.call-to-action p {
	font-size: 1.2rem;
	margin: 2rem 0;
}

.emoji {
    background-image: url(../img/emoji.png);
    background-repeat: no-repeat;
    background-size: 1.3rem;
    padding: 0 0.8rem 0.3rem;
    display: inline-block;
    height: 1rem;
    margin-left: 6px;
    margin-bottom: -0.25rem;
}

.call-to-action .app-price {
	font-size: 1.7rem;
}

.call-to-action .header-buttons a {
	display: inline-block;
    color: #fff;
    font-size: 1.2rem;
    border: 2px solid #fff;
    border-radius: 8px;
    padding: 0.6rem 1.8rem;
    text-decoration: none;
    margin-right: 0.7rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 50px 0px;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.call-to-action .header-buttons a span {
    width: 1.5rem;
    height: 1.5rem;
    background-size: 100%;
    display: inline-block;
    margin-right: 6px;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.call-to-action .header-buttons a .google-icon {
	background: url("../img/google-icon.svg") no-repeat center;
	margin-bottom: -0.3rem;
}

.call-to-action .header-buttons a .apple-icon {
	background: url("../img/apple-icon.svg") no-repeat center;
	margin-bottom: -0.2rem;
	margin-top: -0.1rem;
}

.call-to-action .header-buttons a:hover {
    background-color: #fff;
    color: #41a2ef;
}

.call-to-action .header-buttons a:hover .google-icon {
    background: url("../img/google-icon-hover.svg") no-repeat center;
}

.call-to-action .header-buttons a:hover .apple-icon {
	background: url("../img/apple-icon-hover.svg") no-repeat center;
}

.device {
	display: inline-block;
	position: relative;
	margin-top: 5rem;
	margin-bottom: 5rem;
	z-index: 100;
}

.device .iphone {
	height: 40rem;
    width: 20.65rem;
    background-image: url(../img/iphone-white.svg);
    background-repeat: no-repeat;
    background-size: 20.65rem;
}

.device .screens {
    position: absolute;
    top: 5.3rem;
    right: 2.1rem;
    bottom: 5.5rem;
    left: 2.1rem;
    border-radius: 6px;
    overflow: hidden;
}

.device .screenshot {
	position: absolute;
    width: 100%;
    display: inline;
    transform: translate3d(-100%, 0, 0);
    transition: -webkit-transform 0.5s cubic-bezier(0.1, 1, 0.5, 1) 0s;
}

.device::after {
	position: absolute;
	z-index: -1;
	content: "";
	border-radius: 50px;
	background: #a3a6af;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 75px 0px;
	top: 1rem;
	bottom: 1rem;
	left: 1rem;
	right: 1rem;
}

.card {
	background-color: #fff;
	border-radius: 30px;
	padding: 2rem;
	margin: 0 0 2rem 0;
	font-size: 2rem;
	box-shadow: rgba(177, 177, 177, 0.25) 0px 5px 50px 0px;
	min-height: 20rem;
}

footer {
    padding: 1.3rem;
    background: #fff;
}

footer p {
	font-size: 1.1rem;
    color: #2C2C2C;
    opacity: 0.5;	
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.app-intro {
	margin: 4rem auto 0;
	text-align: center;
	background: #fff;
    padding: 3rem 2rem;
    position: relative;
}

.app-intro::before {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	content: "";
	top: 0;
	left: 0;
	background-image: url("../img/page-clip.svg");
	background-repeat: no-repeat;
	background-size: 110%;
	background-position: bottom;
	transform: translate( 0, -100% );
}

.app-intro .icon {
	height: 8rem;
	margin: 2rem;
}

.intro-title {
    font-size: 3rem;
    color: #0095f5;
    font-weight: 600;
    text-transform: uppercase;
    background: linear-gradient(40deg, rgba(0,124,216,1) 20%, rgba(51,163,255,1) 50%, rgba(174,120,255,1) 100%);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    max-width: 50rem;
	margin: 0 auto 1.5rem;
	position: relative;
	display: inline-block;
}

.intro-title::before {
	position: absolute;
	content: "";
	background: url("../img/calm-left.svg") no-repeat;
	background-size: 100%;
	top: 0;
	left: -7.5rem;
	padding: 3rem;
}

.intro-title::after {
	position: absolute;
	content: "";
	background: url("../img/calm-right.svg") no-repeat;
	background-size: 100%;
	top: 0;
	right: -7.5rem;
	padding: 3rem;
}

.app-intro p {
	opacity: 0.75;
	font-size: 1.5rem;
	max-width: 50rem;
	margin: 0 auto 1.5rem;
}

.app-intro img {
	height: 6rem;
	margin: 2rem 1rem;
	display: inline-block;
}

.divider {
	position: relative;
	padding: 1rem;
	background: #fff;
}

.divider::after {
	position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    background: url(../img/wave.svg) no-repeat center;
    width: 10rem;
    height: 1rem;
    background-size: 100%;
    opacity: 0.75;
}
.app-advantages {
	text-align: center;
	/*width: 60rem;*/
	padding: 7rem 0;
	background: #fff;
}

.advantage {
	display: inline-block;
	width: 16rem;
	vertical-align: top;
	margin: 1rem;
}

.advantage .icon {
	display: inline-block;
	padding: 2.2rem;
}

.advantage .icon.design {background: url("../img/design.svg") no-repeat;}
.advantage .icon.customization {background: url("../img/cmyk.svg") no-repeat;}
.advantage .icon.support {background: url("../img/server.svg") no-repeat;}
.advantage .icon.weather {background: url("../img/umbrella.svg") no-repeat;}

.advantage h2 {
	opacity: 0.75;
}

.advantage p {
	opacity: 0.5;
	font-size: 1.2rem;
}

.social-block {
	text-align: center;
	padding: 5rem 1rem;
	background: #fff;
	font-size: 0;
}

.social-block a {
	display: inline-block;
	margin: 0.4rem;
}

.social-block a .social-icon {
	display: inline-block;
	padding: 1.5rem;
	opacity: 0.6;
	transition: 0.2s;
}

.social-block a:hover .social-icon {
	opacity: 1;
}

.social-icon.vk {background: url("../img/vk.svg") no-repeat;}
.social-icon.facebook {background: url("../img/facebook.svg") no-repeat;}
.social-icon.twitter {background: url("../img/twitter.svg") no-repeat;}
.social-icon.instagram {background: url("../img/instagram.svg") no-repeat;}
.social-icon.deviantart {background: url("../img/deviantart.svg") no-repeat;}
.social-icon.soundcloud {background: url("../img/soundcloud.svg") no-repeat;}
.social-icon.dribbble {background: url("../img/dribbble.svg") no-repeat;}
.social-icon.behance {background: url("../img/behance.svg") no-repeat;}

body.dark .device .iphone {
	background-image: url("../img/iphone-black.svg");
	-o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

body.dark .device::after {
	background-color: #222;
}

body.dark {
	background-color: #222;
}

body.dark .page-main-card {
	background-image: url("../img/background-clip-dark.svg"),  linear-gradient(60deg, rgba(0,124,216,1)  20%, rgba(51,163,255,1) 50%, rgba(174,120,255,1) 100%);
}

body.dark footer p {
	color: #ccc;
}

body.dark .call-to-action .header-buttons a {
	color: #222;
	border-color: #222;
}

body.dark .call-to-action .header-buttons a:hover {
	background-color: #222;
	color: #41a2ef;
}

body.dark  .call-to-action .header-buttons a .google-icon {
	background: url("../img/google-icon-dark.svg") no-repeat center;
}

body.dark  .call-to-action .header-buttons a .apple-icon {
	background: url("../img/apple-icon-dark.svg") no-repeat center;
}

body.dark  .call-to-action .header-buttons a:hover .google-icon {
	background: url("../img/google-icon-hover.svg") no-repeat center;
}

body.dark  .call-to-action .header-buttons a:hover .apple-icon {
	background: url("../img/apple-icon-hover.svg") no-repeat center;
}

body.dark .call-to-action {
	color: #222;
	-o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

body.dark .page-main-card {
	opacity: 1;
}

body.dark .logo-fixed {
	background-image: url("../img/logo-dark.svg");
}

body.dark .button-fixed {
	background-image: url("../img/moon.svg");
}

body.dark .page-main-card::before {
	background: url("../img/jupiter-dark.svg"), url("../img/texture-dark.svg");
}

body.dark .app-intro {
	color: #fff;
	background: #222;
}

body.dark .app-intro::before {
	background-image: url("../img/page-clip-dark.svg");
}

body.dark .app-advantages {
	color: #fff;
	background: #222;
}

body.dark .divider {
	background: #222;
}

body.dark .social-block {
	background: #222;
}

body.dark footer {
    background: #222;
}